header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 100;
}

header > * {
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.header-nav {
    list-style-type: none;
    font-size: 19px;
}

.header-nav > ul > li > a {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.header-nav > ul > li > a:hover {
    color: rgba(255, 255, 255, 0.90);
    text-decoration: underline; 
}

.header-nav.secondary {
    font-size: 17px;
}

.header-nav > ul > li {
    display: inline-block;
    margin-left: 2em;
}

.header-logo {
    max-width: 300px;
    max-height: 100px;
}

.header-nav-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    row-gap: 12px;
}

.bourse-container {
    border-radius: 35%;
    font-size: 14px;
}

.bourse-name {
    color: rgba(255, 255, 255, 0.7);
}

.bourse-fluctuation {
    color: rgba(82, 172, 68, 0.7);
}

