main {
    height: fit-content;
}

.main-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

aside {
    position: absolute;
    right: -30px;
    top: 333px;
    align-self: center;
    width: 22.5rem;
}

figure {
    position: relative;
}

.logo-container>figure>img,
.section-container-3d>img {
    width: 100%;
}

figcaption {
    position: absolute;
    inset: 0;
    top: 30%;
    width: 30%;
}

#arasaka-welcome-title {
    letter-spacing: 3px;
}

.aside-aboutus {
    position: absolute;
    right: 30px;
    top: 190px;
}

.section-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 50px;
}

.section-container-3d>img {
    max-width: 800px;
    height: auto;
}

@media screen and (max-width: 1280px) {

    .main-container {
        flex-direction: column;
    }

    aside {
        position: initial;
        margin-bottom: 50px;

    }


    .aside-aboutus {
        position: initial;
        margin: auto;
        width: fit-content;
        margin-top: 75px;
    }

}