.avatar-container {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 364px;
    height: 450px;
    position: relative;
}

.avatar-image {
    width: auto;
    height: 500px;
    position: absolute;
    top: -50px;
    left: 0;
}

.avatar-text {
    width: 365px;
}

.avatar-image.sniper {
    left: -36px !important;
}

.avatar-code {
    width: fit-content;
}

.avatar-layout-container {
    margin-top: 55px;
    width: 100%;
    justify-items: center;
}

.avatar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
}

/* Responsiveness */


@media screen and (max-width: 1280px) {

    .avatar-grid {
        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width: 750px) {
    .avatar-grid {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }

}